#root {
  max-width: 1280px;
  margin: 30px auto;
  padding: 2rem;
  text-align: center;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;

  background-color: var(--post-color);
  font-size: 24px;
}

.post-container {
  display: flex;
  flex-direction: column;

  gap: 50px;

  width: clamp(200px, 50vw, 700px);

  margin: 0 auto 0 auto;
}

.post {
  width: 100%;
  border: 1px solid var(--post-border-color);
  background-color: var(--post-color);
  border-radius: 10px;

  font-size: 24px;

  min-height: 150px;

  text-align: left;

  padding: 10px;
}

.post__header {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-bottom: 5px;

  gap: 10px;
}

.post__header__avatar-container {
  width: 3rem;
  height: 3rem;

  border: 1px solid var(--post-border-color);
  background-color: grey;
  border-radius: 100px;

  overflow: hidden;
}

.post__header__avatar {
  width: 100%;
  height: 100%;
}

.post__header__username {
  text-decoration: underline;
}

.post__title {
  font-size: 20px;
}

#background-pattern {
  width: 100vw;
  min-height: 100%;
  height: auto;
  overflow: auto;

  background-image: radial-gradient(
    rgba(255, 255, 255, 0.1) 9%,
    transparent 9%
  );

  background-position: 0% 0%;
  background-size: 12vmin 12vmin;

  left: 0px;
  position: fixed;
  top: 0px;

  z-index: -1;
}

.loader {
  width: 180px;
  aspect-ratio: 8/5;
  mask:
    radial-gradient(#000 68%, #0000 71%) no-repeat,
    radial-gradient(#000 68%, #0000 71%) no-repeat,
    radial-gradient(#000 68%, #0000 71%) no-repeat;
  mask-size: 25% 40%;
  animation: load 2s infinite;

  background-color: rgb(255, 255, 255);
  margin: 0 auto 0 auto;
}

@keyframes load {      /* X  Y,     X   Y,    X   Y */
  0%     { mask-position: 0% 0%  , 50% 0%  , 100% 0%; } /* all of them at the top */
  16.67% { mask-position: 0% 100%, 50% 0%  , 100% 0%; }
  33.33% { mask-position: 0% 100%, 50% 100%, 100% 0%; }
  50%    { mask-position: 0% 100%, 50% 100%, 100% 100%; } /* all of them at the bottom */
  66.67% { mask-position: 0% 0%  , 50% 100%, 100% 100%; }
  83.33% { mask-position: 0% 0%  , 50% 0%  , 100% 100%; }
  100%   { mask-position: 0% 0%  , 50% 0%  , 100% 0%; } /* all of them at the top */
}

.error {
  font-size: 32px;
  color: white;
}

