:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: "#000";
  background-color: rgb(20, 20, 20);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --post-color: rgb(242, 242, 242);
  --post-border-color: rgb(207);
}

* {
  padding: 0;
  margin: 0;
  
  background-color: transparent;
  appearance: none;
}
